*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body{
  background-color: #F6F5F5;
  overflow-x: hidden;
}

.ImgST {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 30px;
  border: 3px solid #e7e0e0 ;
}

.ImgST:hover {
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.346);
  transform: translate(-3px, -3px);
}

.Box{
  width: 100%;
  height: 70px;
  background-color: #8E7AB5;
  border-radius: 30px;
  border: 3px solid #d9d2d2 ;
  margin-top: 7rem;
  transform: scale(0.95);

}

.gallery {
  width: 95%;
  max-width: 100%;
  display:grid;
  gap: 10px;
  margin-inline: 50px;
  margin-top: 45px;
}

.gallery > .card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(107, 104, 104);
}



@media screen and (max-width: 6501px){
  .gallery {
    width: 97.5%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 35rem;
  }
}

@media screen and (min-width: 3001px) and (max-width:4600px) {
  .gallery {
    width: 97.5%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 30rem;
  }
}

@media screen and (min-width: 1601px) and (max-width:3000px) {
  .gallery {
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 20rem;
  }
}

@media screen and (min-width: 1024px) and (max-width:1600px) {
  .gallery {
    width: 93%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 17rem;
  }
}

@media screen and (max-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr ;
    grid-auto-rows: 13rem;
    margin-inline: 20px;
  }
}

.Font-Style{
  font-size: 15px;
  font-style: italic;
  max-width: 250px;
  overflow-wrap:break-word;
}

.Font-header{
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 25px;
  color:#F6F5F5;
}