.Navbar-left {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e3dfdf;
    padding-top: 10px; 
    border-right: 2px solid rgb(169, 168, 168);
    cursor: pointer;
    transition: 0.2s all ease;
  }
  
  .Navbar-left.collapsed {
    width: 80px;

  }

  .Navbar-left a {
    width: 90%;
    padding: 13px;
    margin-top: 20px;
    margin-left: 5%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    cursor: pointer;
    transition: 0.2s all ease;
  }
  
  .Navbar-left a:hover {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.95);
    transform: translate(-3px, -3px);
    background-color: #c7c7c7;
    color: rgb(0, 0, 0);
  }
  
  .Navbar-left a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border:2px solid #121212;
    border-radius: 4px;
  }
  
  .EditFont{
    cursor: pointer;
    transition: 0.5s all ease;
    margin-left: 20px;
    margin-top:2px;
    font-weight: 600;
    font-size: 15px;
  }

  .Logo{
    max-width:80px;
  }