.main-view{
    display:grid;
    margin-left: 5rem;
    grid-template-columns: repeat(4, 25%);
    transform: scale(0.9);

}

.view-header{
    background-color: #8E7AB5;
    width: 100%;
    height: 70px;
}

@media screen and (max-width: 6501px){
    .main-view {
      grid-template-columns: repeat(18, 6%);
      transform: translate(80px, 50px);

    }
    .view-header{
        width: 101%;
        height: 50px;
    }
  }
  
  @media screen and (max-width: 5000px){
    .main-view {
      grid-template-columns: repeat(12, 9%);
      transform: translate(80px, 50px);

    }
  }
  
  @media screen and (min-width: 3001px) and (max-width:4600px) {
    .main-view {
      grid-template-columns: repeat(7, 13%);
      transform: translate(80px, 50px);

    }
    .view-header{
        width: 102%;
        height: 50px;
    }
  }
  
  @media screen and (min-width: 1601px) and (max-width:3000px) {
    .main-view {
      grid-template-columns: repeat(5, 20%);
      transform: translate(20px, 10px);

    }

  }
  
  @media screen and (min-width: 1024px) and (max-width:1600px) {
    .main-view {
      grid-template-columns: repeat(4, 24%);
      transform: translate(20px, 10px);

    }
  }
  
  @media screen and (max-width: 1000px) {
    .main-view {
      grid-template-columns: repeat(3, 110%);
    }
    .view-header{
        width: 1700px;
        height: 50px;
    }
}

